@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
body,
html,
.body {
  width: 100%;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #265f5f;
}
